/* styles.css */

/* Estilos generales */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Cambiado a min-height para asegurar que el footer se mantenga en la parte inferior */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    margin-top: 10px;
  }
  
  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  .contacto {
    flex: 1; /* Se mantiene el uso de flex para que la sección ocupe el espacio restante */
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto; /* Asegura que el footer se mantenga en la parte inferior */
  }
  
  /* Estilos específicos */
  h1 {
    color: #333;
  }
  
  h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
  }
  
  p {
    color: #666;
    margin-bottom: 20px;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }  